{% extends 'base_template.html.twig' %}

{% block title %}Administration -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
    <main>
        <div class="container py-5">
            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Rôle</th>
                        <th>Photo de profil</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for utilisateur in listeUtilisateurs %}
                        <tr>
                            {# Appel des méthodes de la classe utilisateur #}
                            <td>{{ utilisateur.getId }}</td>
                            <td>{{ utilisateur.getEmail }}</td>
                            <td>{{ utilisateur.getNom }}</td>
                            <td>{{ utilisateur.getPrenom }}</td>
                            <td>{{ utilisateur.getEstAdmin ? 'Admin' : 'User' }}</td>
                            <td>{{ utilisateur.getPhotoDeProfil }}</td>
                            <td><a href="">Modifier</a><a href="mod">Supprimer</a></td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
                },
                "pageLength": 10,
                "ordering": true,
                "responsive": true
            });
        });
    </script>
{% endblock %}