{% extends 'base_template.html.twig' %}

{% block title %}Administration -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
    <main>
        <div class="container py-5">
            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Rôle</th>
                        <th>Photo de profil</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for utilisateur in listeUtilisateurs %}
                        <tr>
                            {# Appel des méthodes de la classe utilisateur #}
                            <td>{{ utilisateur.getId }}</td>
                            <td>{{ utilisateur.getEmail }}</td>
                            <td>{{ utilisateur.getNom }}</td>
                            <td>{{ utilisateur.getPrenom }}</td>
                            <td>{{ utilisateur.getEstAdmin ? 'Admin' : 'User' }}</td>
                            <td>{{ utilisateur.getPhotoDeProfil }}</td>
                            <td>
                                <a class="" role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModale{{utilisateur.getId}}" aria-expanded="false">
                                    <img src="image/modification.png" alt="modifier" style="width: 50px;">
                                </a>
                                <a class="" role="button" href="index.php?controleur=utilisateur&methode=supprimer&id={{ utilisateur.getId }}" aria-expanded="false">
                                    <img src="image/corbeille.png" alt="supprimer" style="width: 50px;">
                                </a>                        
                            </tr>
                        <div class="modal fade" id="fenetreModale{{utilisateur.getId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg"> <!-- Utilisation d'une modale large -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{utilisateur.getNom}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center"> <!-- Centrer le contenu -->
                                            {# <img src="<?= htmlspecialchars($article['chemin']) ?>" alt="<?= htmlspecialchars($article['alt']) ?>" class="img-fluid mb-3" style="max-height: 300px;"> <!-- Image responsive --> #}
                                        </div>
                                        <p><strong>ID:</strong></p>
                                        <p><strong>Description:</strong></p>
                                        <p><strong>Prix:</strong></p>
                                        <p><strong>Quantité disponible:</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
                },
                "pageLength": 10,
                "ordering": true,
                "responsive": true
            });
        });
    </script>
{% endblock %}