{% extends 'base_template.html.twig' %}

{% block title %}Agendas -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main>
    <div class="container">
            <div class="row justify-content-center">
            {% if message %}
                <div class="mt-5">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
                
                <div class="col-md-4 mt-5"> <!-- Ajout de la marge en haut -->
                    <form action="index.php?controleur=agenda&methode=ajouterAgenda" method="post" required>
                        <div class="mb-3">
                            <label for="url" class="form-label">URL</label>
                            <input type="text" name="url" class="form-control" id="url" required placeholder="Entrez une URL valide">
                        </div>
                        <div class="mb-3">
                            <label for="couleur" class="form-label">Couleur</label>
                            <input type="text" name="couleur" class="form-control" id="couleur" required placeholder="Entrez la couleur">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" name="nom" class="form-control" id="nom" required placeholder="Entrez un nom">
                        </div>

                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
                
            </div>
        </div>

        <div class="container py-5">
        <form action="index.php?controleur=agenda&methode=obtenir" method="post">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">URL de l'agenda</label>
                <input name="urlIcs" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex : https://calendar.google.com/calendar/ical/thibault.latxague%40gmail.com/public/basic.ics">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Debut de la recherche</label>
                <input name="debut" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex : 2024-10-07 00:00:00">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Fin de la recherche</label>
                <input name="fin" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex : 2024-10-11 00:00:00">
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
        </div>

        {% for creneau in creneauxLibres %}           

            {# Enlever 2 heures à la dateDebut et dateFin #}
            {% set dateDebut = creneau.dateDebut|date_modify('-2 hours') %}
            {% set dateFin = creneau.dateFin|date_modify('-2 hours') %}

            <p>Créneau libre de {{ dateDebut|date('Y-m-d H:i:s') }} à {{ dateFin|date('Y-m-d H:i:s') }}</p>
        {% endfor %}



        {# <a href="index.php?controleur=utilisateur&methode=listerContacts"><p>ff</p></a> #}
    </main>
{% endblock %}



