<!DOCTYPE html>
<html lang="{{ constant('WEBSITE_LANGUAGE')}}">
	<head>
		<script src="js/tarteaucitron/tarteaucitron.js"></script>
        <script type="text/javascript">
        tarteaucitron.init({
			"privacyUrl": "", /* Privacy policy url */
			"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
			"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
			"cookieName": "tarteaucitron", /* Cookie name */
			"orientation": "middle", /* Banner position (top - bottom) */
			"groupServices": false, /* Group services by category */
			"showDetailsOnClick": true, /* Click to expand the description */
			"serviceDefaultState": "wait", /* Default state (true - wait - false) */
			"showAlertSmall": false, /* Show the small banner on bottom right */
			"cookieslist": false, /* Show the cookie list */
			"closePopup": false, /* Show a close X on the banner */
			"showIcon": true, /* Show cookie icon to manage cookies */
			//"iconSrc": "", /* Optionnal: URL or base64 encoded image */
			"iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */
			"adblocker": false, /* Show a Warning if an adblocker is detected */
			"DenyAllCta" : true, /* Show the deny all button */
			"AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
			"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
			"alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */
			"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
			"removeCredit": false, /* Remove credit link */
			"moreInfoLink": true, /* Show more info link */
			"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
			"useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
			"readmoreLink": "", /* Change the default readmore link */
			"mandatory": true, /* Show a message about mandatory cookies */
			"mandatoryCta": true, /* Show the disabled accept button when mandatory on */
			//"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
			"googleConsentMode": false, /* Enable Google Consent Mode v2 for Google ads and GA4 */
			"partnersList": false /* Show the number of partners on the popup/middle banner */
        });
        </script>

        <script type="text/javascript">
        tarteaucitron.user.gtagUa = 'G-J00NZ3CQ6M';
        // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
        tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaXNtA3eoP8H6Cs4oRksEo5xW4CvGFp8Xr5MgxFXH7FlIhHkDbl4Rb0zT7z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<meta name="description" content="{% if description is defined %} {{ description }} {% else %} {{ constant('WEBSITE_DESCRIPTION') }} {% endif %}"> {% block css %}{% endblock %}
		<title>
			{% block title %}
				{{ constant('WEBSITE_TITLE') }}
			{% endblock %}
		</title>
	</head>

	<body class="d-flex flex-column min-vh-100">
		{% if utilisateurGlobal is not null %}
			<nav class="navbar navbar-expand-lg bg-primary py-1 shadow">
				<div class="container-fluid">
					<!-- Logo et bouton collapsible -->
					<div class="d-flex align-items-center">
						<!-- Logo -->
						<a class="navbar-brand me-2" href="index.php?controleur=utilisateur&methode=menuConnecte">
							<img src="image/logoNoir.png" alt="logo" style="width: 60px;">
						</a>

						<!-- Bouton de bascule (menu collapsible) -->
						<button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>

					<!-- Photo de profil et icône de notification -->
					<div class="d-flex align-items-center order-2 order-lg-3">
						<!-- Photo de profil -->
						<div class="nav-item dropdown d-flex align-items-center me-3">
							<a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ utilisateurGlobal.getPhotoDeProfil ? 'image/photo_user/' ~ utilisateurGlobal.getPhotoDeProfil : 'image/utilisateurBase.png' }}" alt="Photo de profil" class="rounded-circle" style="width: 50px; height: 50px;">
							</a>
							<ul class="dropdown-menu dropdown-menu-custom dropdown-menu-end bg-primary no-border">
								<li>
									<a class="dropdown-item" href="index.php?controleur=utilisateur&methode=afficherProfil">Profil</a>
								</li>
								{% if utilisateurGlobal.getEstAdmin %}
									<li>
										<a class="dropdown-item" href="index.php?controleur=utilisateur&methode=lister">Administration</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="index.php?controleur=utilisateur&methode=deconnecter&page=index">Déconnexion</a>
								</li>
							</ul>
						</div>
						<!-- Icône de notification -->
						<div class="nav-item d-flex align-items-center me-3">
							{% if utilisateurGlobal.getNombreDemandesEnCours > 0 %}
								<a class="nav-link" href="index.php?controleur=contacts&methode=afficherPageNotifications"><img src="image/notificationTrue.png" style="width: 35px;" alt="notification"></a>
							{% else %}
								<a class="nav-link" href="index.php?controleur=contacts&methode=afficherPageNotifications"><img src="image/notificationFalse.png" style="width: 35px;" alt="notification"></a>
							{% endif %}
						</div>
					</div>

					<!-- Contenu collapsible -->
					<div class="collapse navbar-collapse order-3 order-lg-1" id="navbarNav">
						<!-- Menu principal -->
						<ul class="navbar-nav me-auto d-flex justify-content-center w-100">
							<li class="nav-item me-3">
								<a class="nav-link fs-5 {% if menu == 'recherche' %} active {% endif %}" href="index.php?controleur=assistant&methode=genererVueRecherche">Rechercher un créneau</a>
							</li>
							<li class="nav-item me-3">
								<a class="nav-link fs-5 {% if menu == 'agenda' %} active {% endif %}" href="index.php?controleur=agenda&methode=lister">Agendas</a>
							</li>
							<li class="nav-item me-3">
								<a class="nav-link fs-5 {% if menu == 'groupes' %} active {% endif %}" href="index.php?controleur=groupes&methode=lister">Groupes</a>
							</li>
							<li class="nav-item me-3">
								<a class="nav-link fs-5 {% if menu == 'contacts' %} active {% endif %}" href="index.php?controleur=contacts&methode=lister">Contacts</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		{% else %}
			<nav class="navbar navbar-expand-lg bg-primary py-1 shadow">
				<div class="container-fluid">
					<!-- Logo et bouton de bascule -->
					<a class="navbar-brand" href="index.php">
						<img src="image/logoNoir.png" alt="logo" style="width: 60px;">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Contenu collapsible -->
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul
							class="navbar-nav">
							<!-- Titre centré -->
							<li class="nav-item">
								<span class="nav-link dt fs-5 text-black fw-bold">TimeHarmony</span>
							</li>
						</ul>

						<!-- Liens alignés à droite -->
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link fs-5 text-black" href="index.php?controleur=utilisateur&methode=premiereConnexion">Se connecter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-5 text-black" href="index.php?controleur=utilisateur&methode=premiereInscription">S'inscrire</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		{% endif %}

		<div class="flex-grow-1"> 
            {% block content %}{% endblock %}
		</div>

			<footer class="py-3 bg-primary mt-5 shadow-lg">
                <div class="container">
                    <div class="row text-center align-items-center">
                        <!-- Section 1 -->
                        <div class="col-12 mb-3">
                            <p class="nav-link fs-5 m-0">&copy; 2025 - TimeHarmony</p>
                        </div>
                        <!-- Section 2 -->
                        <div class="col-6 col-md-3 mb-2">
                            <a class="nav-link fs-5" href="index.php?controleur=informations&methode=afficherAPropos">À Propos</a>
                        </div>
                        <!-- Section 3 -->
                        <div class="col-6 col-md-3 mb-2">
                            <a class="nav-link fs-5" href="index.php?controleur=informations&methode=afficherCGDU">CGU</a>
                        </div>
                        <!-- Section 4 -->
                        <div class="col-6 col-md-3 mb-2">
                            <a class="nav-link fs-5" href="index.php?controleur=informations&methode=afficherPDC">Confidentialité</a>
                        </div>
                        <!-- Section 5 -->
                        <div class="col-6 col-md-3 mb-2">
                            <a class="nav-link fs-5" href="index.php?controleur=informations&methode=afficherContact">Contact</a>
                        </div>
                    </div>
                </div>
      </footer>
    </body>

 
		{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-QFQg2ugGQhBZG9CVUoJBPcTMkL1AdwyZ6YCeEUPXpCk+hFnsmCCH2Cf9DJiug6gk" crossorigin="anonymous"></script>

        <script>  
        document.addEventListener('DOMContentLoaded', function () {
            var toastElement = document.getElementById('toast');
            var toast = new bootstrap.Toast(toastElement);
            toast.show();

            // Cacher le toast après 10 secondes
            setTimeout(function () {
                toast.hide();
            }, 5000);
        });     
        </script>
    {% endblock %}
</html>

