{% extends 'base_template.html.twig' %}

{% block title %}Contacts -
	{{ constant('WEBSITE_TITLE') }}
{% endblock %}

{% block content %}
	<main>
		<div class="container">
			{% if contacts is not null %}
				<div class="row text-center mt-3 mb-3">
					<h1 class="text-center py-5"><i class="fa-regular fa-comments"></i> Mes contacts</h1>
				</div>
				{% if contacts|length > 0 %}
					<div class="container-lg table-responsive">
						<table id="myTable" class="table contact table-striped table-bordered">
							<thead>
								<tr>
									<th></th>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Email</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for utilisateur in contacts %}
									<tr>
										<td>
											<div>
												<img class="photos" src="image/photo_user/{{ utilisateur.getPhotoDeProfil }}" alt="photoDeProfil">
											</div>
										</td>
										<td>{{ utilisateur.getPrenom }}</td>
										<td>{{ utilisateur.getNom }}</td>
										<td>{{ utilisateur.getEmail }}</td>
										<td>
											<a role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModale{{ utilisateur.getId }}" aria-expanded="false">
												<i class="fa-solid fa-user-minus fa-2xl text-danger"></i>
											</a>
										</td>
									</tr>
									<div class="modal fade" id="fenetreModale{{ utilisateur.getId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-md">
											<div class="modal-content">
												<div class="modal-header bg-danger text-secondary">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression du contact
														{{ utilisateur.getPrenom }}
														{{ utilisateur.getNom }}</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<form action="index.php?controleur=contacts&methode=supprimer&id={{ utilisateur.getId }}" method="POST" enctype="multipart/form-data">
													<div class="modal-body">
														<label>Êtes-vous sûr de vouloir supprimer le contact
															{{utilisateur.getPrenom}}
															{{utilisateur.getNom}}
															?</label>
													</div>
													<div class="modal-footer">
														<button type="submit" class="btn btn-danger" name="update_article">Supprimer</button>
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<div class="row justify-content-center mt-4 h-25">
						<div class="col-md-8">
							<div class="alert alert-info text-center" role="alert">
								Aucun contact trouvé. Ajoutez-en un ci-dessous.
							</div>
						</div>
					</div>
				{% endif %}
				<div class="text-center">
					<a class="px-5 btn btn-primary" href="index.php?controleur=contacts&methode=afficherUtilisateurs" role="button">Ajouter un contact</a>
				</div>
			{% else %}
			<div class="row text-center mt-3 mb-3">
    			<a href="index.php?controleur=contacts&methode=lister" role="button"><img src="image/retour.png" style="width: 35px;" alt="retour"></a>
    			<h1 class="text-center py-5"><i class="fa-solid fa-user-plus"></i> Ajouter un contact</h1>
			</div>
			<div class="row justify-content-center">
				<table id="myTable" class="table contact table-striped table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Prenom</th>
							<th>Nom</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for utilisateur in utilisateurs %}
							<tr>
								<td>
									<div>
										<img class="photos" src="image/photo_user/{{ utilisateur.getPhotoDeProfil }}" alt="photoDeProfil">
									</div>
								</td>
								<td>{{ utilisateur.getPrenom }}</td>
								<td>{{ utilisateur.getNom }}</td>
								<td>{{ utilisateur.getEmail }}</td>
								<td>
									<a class="" role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModale{{utilisateur.getId}}" aria-expanded="false">
										<i class="fa-solid fa-plus fa-2xl text-primary"></i>
									</a>
								</td>
							</tr>
							<div class="modal fade" id="fenetreModale{{utilisateur.getId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header bg-primary text-secondary">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Ajout du contact
												{{utilisateur.getPrenom}}
												{{utilisateur.getNom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form action="index.php?controleur=contacts&methode=ajouter&id={{ utilisateur.getId }}" method="POST" enctype="multipart/form-data">
											<div class="modal-body">
												<label>Êtes-vous sûr de vouloir envoyer une demande de contact à
													{{utilisateur.getPrenom}}
													{{utilisateur.getNom}}
													?</label>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" name="update_article">Ajouter</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
			<!-- Affichage des messages -->
			{% if message %}
				<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1600">
					<div id="toast" class="toast align-items-center text-white bg-{% if contientErreurs %}danger{% else %}success{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div class="toast-body">
								{% for messages in message %}
									{{ messages }}
									<br>
								{% endfor %}
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="js/datatable.js"></script>
{% endblock %}
