{% extends 'base_template.html.twig' %}

{% block title %}
	Groupes -
	{{ constant('WEBSITE_TITLE') }}
{% endblock %}

{% block content %}
	<main>
		<div class="container">
			{% if modification == false and creation == false %}
				<div class="row text-center mt-3 mb-3">
					<h1>Vos Groupes</h1>
				</div>
				{% if message %}
					<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
						{% for messages in message %}
							{{ messages }}<br>
						{% endfor %}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
				{% if groupes|length > 0 %}
					<table id="myTable" class="table table-striped">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Description</th>
								<th>Membres</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for groupe in groupes %}
								<tr>
									<td>{{ groupe.nom }}</td>
									<td>{{ groupe.description }}</td>
									<td>{{ nombrePersonnes[loop.index0] }}</td>
									<td>
										<a role="button" href="index.php?controleur=groupes&methode=afficherPageModification&id={{ groupe.id }}">
										<i class="fa-solid fa-pencil"></i></a>
										<a role="button" href="#" data-bs-toggle="modal" data-bs-target="#fenetreModaleSuppression{{ groupe.id }}">
										<i class="fa-solid fa-trash"></i></a>
									</td>
								</tr>
								<div class="modal fade" id="fenetreModaleSuppression{{ groupe.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression du groupe
													{{ groupe.nom }}</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<form action="index.php?controleur=groupes&methode=supprimer&id={{ groupe.id }}" method="POST" enctype="multipart/form-data">
												<div class="modal-body">
													<label>Êtes-vous sûr de vouloir supprimer le groupe
														{{ groupe.nom }}
														?</label>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-primary" name="update_article">Supprimer</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<div class="row justify-content-center mt-4 h-25">
						<div class="col-md-8">
							<div class="alert alert-info text-center" role="alert">
								Aucun groupe trouvé. Ajoutez-en un ci-dessous.
							</div>
						</div>
					</div>
				{% endif %}

				<div class="text-center">
					<a class="px-5 btn btn-primary" href="index.php?controleur=groupes&methode=ajouter" role="button">Créer un groupe</a>
				</div>
			{% elseif modification %}
				<div class="row text-center mt-3 mb-3">
					<h1>Modifier mon groupe</h1>
				</div>
				<div
					class="d-flex align-items-center">
					<!-- Formulaire Modification -->
					<div class="w-100">
						<form id="formModificationGroupe" method="POST" action="index.php?controleur=groupes&methode=modifier&id={{ groupeCourant.id }}">
							<div class="mb-3">
								<label for="nom" class="form-label" style="color: #2c3e50;">Nom *</label>
								<input type="text" class="form-control shadow-sm" id="nom" name="nom" value="{{ groupeCourant.nom }}" style="border: 1px solid #ddd; padding: 10px;" maxlength="50" required>
								<small id="nomGroupeError" class="text-danger"></small>
							</div>
							<div class="mb-3">
								<label for="description" maxlength="101" class="form-label" style="color: #2c3e50;">Description *</label>
								<input type="text" class="form-control shadow-sm" id="description" name="description" value="{{ groupeCourant.description }}" style="border: 1px solid #ddd; padding: 10px;" maxlength="255" required>
								<small id="descriptionGroupeError" class="text-danger"></small>
							</div>
							<div class="mb-3">
								<label for="contacts[]" class="form-label" style="color: #2c3e50;">Membres *</label>
								<div class="card p-4 shadow-sm">
								<table class="table table-bordered table-hover">
									<thead>
										<tr class="table-primary">
											<th>#</th>
											<th>Prénom</th>
											<th>Nom</th>
										</tr>
									</thead>
									<tbody>
										{% for contact in contacts %}
											<tr>
												<!-- Si l'id du contact est dans idsMembres, on coche la case -->
												<td>
													<input class="form-check-input" type="checkbox" name="contacts[]" value="{{ contact.getId }}" id="contactCheck{{ loop.index }}" {% if contact.getId in idsMembres %} checked {% endif %}>
												</td>
												<td>{{ contact.getPrenom }}</td>
												<td>{{ contact.getNom }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<small id="contactsGroupeError" class="text-danger"></small>
								</div>
							</div>
							<div class="text-center mt-4">
								<button id="boutonModificationGroupe" type="submit" class="btn btn-primary px-4 shadow-sm" style="background-color: #3498db; border: none;">Modifier mon groupe</button>
							</div>
						</form>
					</div>
				</div>
			{% elseif creation %}
				<div class="row justify-content-center mt-5 h-75">
					<div class="col-md-6">
						<h4 class="text-center mb-4">Créer un groupe</h4>
						<form id="formCreationGroupe" action="index.php?controleur=groupes&methode=creer" method="post" required>
							<div class="mb-3">
								<label for="nom" class="form-label">Nom *</label>
								<input type="text" name="nom" class="form-control" id="nom" required placeholder="Entrez le nom de votre groupe" maxlength="50">
								<small id="nomError" class="text-danger"></small>
							</div>
							<div class="mb-3">
								<label for="description" class="form-label">Description *</label>
								<textarea type="text" name="description" class="form-control" maxlength="101" id="description" required placeholder="Entrez une description valide"></textarea>
								<small id="descriptionError" class="text-danger"></small>
							</div>
							<div class="mb-3">
								<label for="description" class="form-label">Choisir ses contacts</label>
								{% if contacts %}
								<div class="card p-4 shadow-sm">
									<table class="table table-bordered table-hover">
										<thead>
											<tr class="table-primary">
												<th>#</th>
												<th>Prénom</th>
												<th>Nom</th>
											</tr>
										</thead>
										<tbody>
											{% for contact in contacts %}
												<tr>
													<td><input class="form-check-input" type="checkbox" name="contacts[]" value="{{ contact.getId }}" id="contactCheck{{ loop.index }}"></td>
													<td>{{ contact.getPrenom }}</td>
													<td>{{ contact.getNom }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								{% else %}
									<div class="alert alert-info text-center" role="alert">Aucun contact trouvé. Ajoutez-en un ci-dessous.</div>
									<div class="text-center">
										<a class="px-5 btn btn-secondary" href="index.php?controleur=contacts&methode=afficherUtilisateurs" role="button">Ajouter des contacts</a>
									</div>
								{% endif %}
								<small id="contactsError" class="text-danger"></small>
							</div>
							<div class="text-center pt-5">
								<a class="px-5 btn btn-secondary" href="index.php?controleur=groupes&methode=lister" role="button">Revenir à mes groupes</a>
							</div>
							<div class="mb-3 text-center pt-3">
								<button id="boutonCreationGroupe" type="submit" class="btn btn-primary">Ajouter un groupe</button>
							</div>
						</form>
					</div>
				</div>
			{% endif %}
		</div>
	</main>
{% endblock %}
{% block javascripts %}
	<script src="js/formulaireCreationGroupe.js"></script>
	<script src="js/formulaireModificationGroupe.js"></script>
	{{ parent() }}
	<script src="js/datatable.js"></script>
{% endblock %}
