{% extends 'base_template.html.twig' %}

{% block title %}Notifications - {{ constant('WEBSITE_TITLE')}} {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="row text-center mt-3 mb-3">
				<strong><h1>Mes demandes</h1></strong>
			</div>
            <div class="row text-center mt-5 mb-3 pt-5">
					<h3>Vos demandes envoyées</h3>
				</div>
				<table id="myTable1" class="table table-striped mw-75"> <!-- w-75 fonctionne mais pas mw-75 SUS -->
					<thead>
						<tr>
							<th>Image de profil</th>
							<th>Prenom</th>
							<th>Nom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for demande in demandesEnvoyees %}
							<tr>
								<td><img src="image/photo_user/{{ demande.photoDeProfil }}" alt="photoDeProfil"  class="rounded-circle" style="width: 50px; height: 50px;"></td>
								<td>{{ demande.prenom }}</td>
								<td>{{ demande.nom }}</td>
								<td>
									<a class="" role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModaleDemandeAnnulation{{demande.id}}" aria-expanded="false">
										<i class="fa-solid fa-trash"></i>
									</a>
								</td>
							</tr>
							<div class="modal fade" id="fenetreModaleDemandeAnnulation{{demande.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression de la demande de contact de
												{{demande.prenom}}
												{{demande.nom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form action="index.php?controleur=contacts&methode=supprimerDemandeEmise&id={{ demande.id }}" method="POST" enctype="multipart/form-data">
											<div class="modal-body">
												<label>Êtes-vous sûr de vouloir supprimer la demande concernant le contact
													{{demande.prenom}}
													{{demande.nom}}
													?</label>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" name="update_article">Supprimer</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
				</table>


                <div class="row text-center mb-3 pt-5 mt-5">
					<h3>Vos demandes reçues</h3>
				</div>
				<table id="myTable2" class="table table-striped mw-75">
					<thead>
						<tr>
							<th>Image de profil</th>
							<th>Prenom</th>
							<th>Nom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for demande in demandesRecues %}
							<tr>
								<td><img src="image/photo_user/{{ demande.photoDeProfil }}" alt="photoDeProfil"  class="rounded-circle" style="width: 50px; height: 50px;"></td>
								<td>{{ demande.prenom }}</td>
								<td>{{ demande.nom }}</td>
								<td>
                                    <a class="" role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModaleRecueAccepte{{demande.id}}" aria-expanded="false">
										<i class="fa-solid fa-check"></i>
									</a>
									<a class="" role="button" href="" data-bs-toggle="modal" data-bs-target="#fenetreModaleRecueRefuse{{demande.id}}" aria-expanded="false">
										<i class="fa-solid fa-trash"></i>
									</a>
								</td>
							</tr>
							<div class="modal fade" id="fenetreModaleRecueAccepte{{demande.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Accepter la demande de 
												{{demande.prenom}}
												{{demande.nom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form action="index.php?controleur=contacts&methode=accepterDemandeRecue&id={{ demande.id }}" method="POST" enctype="multipart/form-data">
											<div class="modal-body">
												<label>Êtes-vous sûr de vouloir accepter la demande de contact de 
													{{demande.prenom}}
													{{demande.nom}}
													?</label>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" name="update_article">Accepter</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											</div>
										</form>
									</div>
								</div>
							</div>
                            <div class="modal fade" id="fenetreModaleRecueRefuse{{demande.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Refuser la demande de 
												{{demande.prenom}}
												{{demande.nom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form action="index.php?controleur=contacts&methode=refuserDemandeRecue&id={{ demande.id }}" method="POST" enctype="multipart/form-data">
											<div class="modal-body">
												<label>Êtes-vous sûr de vouloir refuser la demande de contact de 
													{{demande.prenom}}
													{{demande.nom}}
													?</label>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" name="update_article">Refuser</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
				</table>
                <div class="text-center pt-5">
                    <a class="px-5 btn btn-secondary" href="index.php?controleur=contacts&methode=afficherdemandes" role="button">Afficher mes contacts</a>
				</div>
				<div class="text-center pt-3">
					<a class="px-5 btn btn-primary" href="index.php?controleur=contacts&methode=afficherdemandes" role="button">Ajouter un contact</a>
				</div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#myTable1').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
                },
                responsive: true, // Important pour les petits écrans
                autoWidth: false, // Évite les problèmes de calcul automatique de largeur
                pageLength: 10,
                ordering: true
            });
        });
        $(document).ready(function() {
            $('#myTable2').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
                },
                responsive: true, // Important pour les petits écrans
                autoWidth: false, // Évite les problèmes de calcul automatique de largeur
                pageLength: 10,
                ordering: true
            });
        });
    </script>
{% endblock %}