{% extends 'base_template.html.twig' %}

{% block title %}Profil - {{ constant('WEBSITE_TITLE') }}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 pb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4">Profil</h3>
            <div class="d-flex align-items-center">
                <!-- Image cercle -->
                <div class="me-4">
                    <a href="#" class="d-block mt-2">
                        <img 
                            src="{{ utilisateurGlobal.getPhotoDeProfil != 'utilisateurBase.png' ? 'image/photo_user/' ~ utilisateurGlobal.getPhotoDeProfil : 'image/utilisateurBase.png' }}"
                            alt="Photo de profil" 
                            class="rounded-circle" 
                            style="width: 100px; height: 100px;">
                    </a>
                </div>

                <!-- Formulaire -->
                <div class="flex-grow-1">
                    <form method="POST" action="index.php?controleur=utilisateur&methode=modifier&id={{ utilisateurGlobal.getId }}&type='util'" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom" value="{{ utilisateurGlobal.getNom }}" maxlength="50" title="Le nom de votre compte">
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" value="{{ utilisateurGlobal.getPrenom }}" maxlength="50" title="Le prénom de votre compte">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label> <!-- Label donc pas de type -->
                            <p>{{ utilisateurGlobal.getEmail }}</p>
                            <input type="hidden" class="form-control" id="role" name="role" value="{{ utilisateurGlobal.getEstAdmin }}">
                        </div>
                        <div class="mb-3">
                            <label for="photo" class="form-label">Changer la photo de profil</label>
                            <input type="file" class="form-control" id="photo" name="photo" accept=".jpg, .png" title="La photo de profil de votre compte">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Modifier mon profil</button>
                            <button type="button" class="btn btn-secondary">Modifier mon mot de passe</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Bouton supprimer -->
            <div class="text-center mt-4">
                <button type="button" data-bs-toggle="modal" data-bs-target="#fenetreModale" class="btn btn-danger">Supprimer mon compte</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fenetreModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="index.php?controleur=utilisateur&methode=supprimer&id={{ utilisateurGlobal.getId }}&type='utilisateur'" method="POST">
                <div class="modal-body">
                    <div class="container mt-2">
                        <div class="justify-content-center">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer mon compte</h1>
                            <h1 class="modal-title fs-5" id="exampleModalLabel">!! Attention !!</h1><br>
                            <p class="fs-5">Vous êtes sur le point de supprimer votre compte. Cette action est irréversible.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger" name="update_article">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
