{% extends 'base_template.html.twig' %}

{% block title %}Recherche -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}

{% block content %}
    <main class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row text-center mb-5">
            <h1 class="display-4 fw-bold">Recherche d'un créneau</h1>
        </div>
        <form action="index.php?controleur=assistant&methode=obtenir" method="post">
            <!-- Section Collaborateurs -->
            <div class="mb-4 card p-4 shadow-sm">
                <h5 class="fw-bold text-center mb-3">Choisir ses collaborateurs :</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">#</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" name="contacts[]" value="{{ contact.getId }}" id="contactCheck{{ loop.index }}">
                            </td>
                            <td>{{ contact.getPrenom }}</td>
                            <td>{{ contact.getNom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Section Groupes -->
            <div class="mb-4 card p-4 shadow-sm">
                <h5 class="fw-bold text-center mb-3">Choisir des groupes :</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for groupe in groupes %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" name="groupes[]" value="{{ groupe.getId }}" id="groupeCheck{{ loop.index }}">
                            </td>
                            <td>{{ groupe.getNom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Section Période -->
            <div class="mb-4 card p-4 shadow-sm">
                <h5 class="fw-bold text-center mb-3">Période de recherche :</h5>
                <div class="mb-3">
                    <label for="Datedebut" class="form-label">Début</label>
                    <input name="debut" type="text" class="form-control" id="Datedebut" placeholder="Ex : 2024-10-07 00:00:00" required>
                </div>

                <div class="mb-3">
                    <label for="Datefin" class="form-label">Fin</label>
                    <input name="fin" type="text" class="form-control" id="Datefin" placeholder="Ex : 2024-10-07 00:00:00" required>
                </div>

                <div class="mb-3">
                    <label for="dureeMin" class="form-label">Durée minimale de rendez-vous :</label>
                    <input name="dureeMin" type="time" class="form-control" value="00:00" required/>
                </div>
            </div>

            <!-- Section Bouton -->
            <div class="text-center mb-4">
                <button type="submit" class="btn btn-primary shadow-lg hover-shadow w-50">Rechercher</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}



{# {% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
                },
                "pageLength": 10,
                "ordering": true,
                "responsive": true
            });
        });
    </script>
{% endblock %} #}