{% extends 'base_template.html.twig' %}

{% block title %}Recherche -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}

{% block content %}
	<main>
		<div class="container-fluid">
			<div class="row text-center mt-3 mb-4">
				<h1>Recherche d'un créneau</h1>
			</div>

			<div class="row pb-4">
				<nav class="d-flex justify-content-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.php?controleur=assistant&methode=afficherPersonnesObligatoires">Personnes Obligatoires</a></li>
						<li class="breadcrumb-item"><a href="index.php?controleur=assistant&methode=afficherPersonnesSouhaitees">Personnes Souhaitées</a></li>
						<li class="breadcrumb-item"><a href="index.php?controleur=assistant&methode=afficherParametres">Paramètres</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="index.php?controleur=assistant&methode=afficherResultats">Résultats</a></li>
					</ol>
				</nav>
			</div>

			<div class="d-flex justify-content-center">
				{% if page == 1 %}
				<form action="index.php?controleur=assistant&methode=obtenir" method="post">
					<!-- Section Collaborateurs -->
					<div class="justify-content-center row-md-4 mb-5">
						<div class="card p-4 shadow-sm">
							<h5 class="fw-bold text-center mb-3">Choisir ses contacts :</h5>
							<p class="text-muted">Ajoutez les personnes avec qui vous souhaitez trouver un créneau commun.</p>
							{% if contacts|length > 0 %}
								<table id="contacts" class="table table-bordered table-hover">
									<thead>
										<tr class="table-primary">
											<th scope="col">Présence souhaitée</th>
											<th scope="col">Présence obligatoire</th>
											<th scope="col">Nom prénom</th>
										</tr>
									</thead>
									<tbody>
										{% for contact in contacts %}
											<tr>
												<td>
													<input class="form-check-input" type="checkbox" name="contacts[]" value="{{ contact.getId }}" id="contactCheck{{ loop.index }}">
												</td>
												<td>
													<input class="form-check-input" type="checkbox" name="contactsPrioritaires[]" value="{{ contact.getId }}">
												</td>
												<td>{{ contact.getPrenom }}
													{{ contact.getNom }}</td>
												{# <td>{{ contact.getNom }}</td> #}
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<small id="contactsError" class="text-danger"></small>
							{% else %}
								<div class="row justify-content-center mt-4 h-25">
									<div class="col-md-8">
										<div class="alert alert-info text-center" role="alert">Aucun contact trouvé. Ajoutez-en un ci-dessous.</div>
									</div>
								</div>
								<div class="text-center">
									<a class="px-5 btn btn-primary" href="index.php?controleur=contacts&methode=afficherUtilisateurs" role="button">Ajouter un contact</a>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="text-center mb-4">
						<button id="boutonFinPage1" type="submit" class="btn btn-primary shadow-lg hover-shadow">Passer à l'étape suivante</button>
					</div>
				</form>

				{% elseif page == 2 %}
					<form action="index.php?controleur=assistant&methode=obtenir" method="post">
						<!-- Section Groupes -->
						<div class="justify-content-center row-md-4 mb-5">
							<div class="card p-4 shadow-sm">
								<h5 class="fw-bold text-center mb-4">Choisir des groupes :</h5>
								<p class="text-muted">Sélectionnez un groupe pour rechercher un créneau avec plusieurs contacts à la fois.</p>
								{% if groupes|length > 0 %}
									<table id="groupes" class="table table-bordered table-hover">
										<thead>
											<tr class="table-primary">
												<th scope="col">#</th>
												<th scope="col">Nom</th>
											</tr>
										</thead>
										<tbody>
											{% for groupe in groupes %}
												<tr>
													<td>
														<input class="form-check-input" type="checkbox" name="groupes[]" value="{{ groupe.getId }}" id="groupeCheck{{ loop.index }}">
													</td>
													<td>{{ groupe.getNom }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<small id="groupesError" class="text-danger"></small>
								{% else %}
									<div class="row justify-content-center mt-4 h-25">
										<div class="col-md-8">
											<div class="alert alert-info text-center" role="alert">
												Aucun groupe trouvé. Ajoutez-en un ci-dessous.
											</div>
										</div>
									</div>
									<div class="text-center">
										<a class="px-5 btn btn-primary" href="index.php?controleur=groupes&methode=ajouter" role="button">Ajouter un groupe</a>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="text-center mb-4">
							<button id="boutonPage2" type="submit" class="btn btn-primary shadow-lg hover-shadow">Passer à l'étape suivante</button>
						</div>
					</form>

				{% elseif page == 3 %}
					<form action="index.php?controleur=assistant&methode=obtenir" method="post">
						<div class="row">
							<!-- Section Période -->
							<div class="col-md-6 mb-4">
								<div class="card p-4 shadow-sm">
									<h5 class="fw-bold text-center mb-3">Période de recherche :</h5>
									<p class="text-muted">Définissez la période pendant laquelle vous souhaitez rechercher un créneau.</p>
									<div class="mb-3">
										<label for="Datedebut" class="form-label">Début *</label>
										<input name="debut" type="datetime-local" class="form-control" id="dateDebut" required title="Entrez la date de début de votre recherche">
										<small id="dateDebutError" class="text-danger"></small>

									</div>

									<div class="mb-4">
										<label for="Datefin" class="form-label">Fin *</label>
										<input name="fin" type="datetime-local" class="form-control" id="dateFin" required title="Entrez la date de fin de votre recherche">
										<small id="dateFinError" class="text-danger"></small>
									</div>

									<div class="mb-3">
										<label for="dureeMin" class="form-label">Durée exacte du rendez-vous *</label>
										<p class="text-muted">Spécifiez la durée exacte du créneau à trouver.</p>
										<input id="duree" name="dureeMin" type="time" class="form-control" value="01:00" min="00:05" required title="Entrez la durée minimale du créneau à rechercher">
										<small id="dureeError" class="text-danger"></small>
									</div>
									<p class="text">* Champ obligatoire</p>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="card p-4 shadow-sm">
									<h5 class="fw-bold text-center mb-3">Plage horaire :</h5>
									<p class="text-muted">Définissez les heures entre lesquelles les créneaux doivent être recherchés.</p>
									<div class="mb-3">
										<label for="debutPlageH" class="form-label">Début *</label><br>
										<input name="debutPlageH" type="time" class="form-control" id="debutPlageH" value="08:00" required title="Entrez la date de début de la plage horaire">
										<small id="debutPlageHError" class="text-danger"></small>
									</div>

									<div class="mb-3">
										<label for="finPlageH" class="form-label">Fin *</label>
										<input name="finPlageH" type="text" class="form-control" id="finPlageH" value="18:00" required title="Entrez la date de fin de la plage horaire">
										<small id="finPlageHError" class="text-danger"></small>
									</div>
									<p class="text">* Champ obligatoire</p>
								</div>
							</div>
						</div>
						<!-- Section Bouton -->
						<div class="text-center mb-4">
							<button id="boutonLancerRecherche" type="submit" class="btn btn-primary shadow-lg hover-shadow">Rechercher des créneaux de rendez-vous</button>
						</div>
					</form>
				{% endif %}
			</div>
			{% if message %}
				<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1600">
					<div id="toast" class="toast align-items-center text-white bg-{% if contientErreurs %}danger{% else %}success{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div class="toast-body">
								{% for messages in message %}
									{{ messages }}
									<br>
								{% endfor %}
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</main>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
	const membres = {{ membres|json_encode|raw }};
	</script>
	<script src="js/recherche.js"></script>
	<script src="js/formulaireRecherche.js"></script>
	<script>
		
{ // Récupérer les membres des groupes
#
$(document).ready(function () {
$('#myTable').DataTable({
language: {
url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json'
},
"pageLength": 10,
"ordering": true,
"responsive": true
});
});
#
}
	</script>

	<script>
		// Récupérer les éléments input
const dateDebutInput = document.getElementById('dateDebut');
const dateFinInput = document.getElementById('dateFin');

// Obtenir la date et l'heure actuelles
const now = new Date();

// Ajuster pour le fuseau horaire local
const offset = now.getTimezoneOffset(); // Décalage en minutes
const localTime = new Date(now.getTime() - offset * 60000);

// Arrondir la date de début à l'heure supérieure
localTime.setMinutes(Math.ceil(localTime.getMinutes() / 60) * 60); // Arrondir les minutes à l'heure suivante
localTime.setSeconds(0);
// Mettre les secondes à 0

// Formater la date et l'heure au format requis pour datetime-local (YYYY-MM-DDTHH:MM)
const formattedDateTime = localTime.toISOString().slice(0, 16); // Garder "YYYY-MM-DDTHH:MM"
dateDebutInput.value = formattedDateTime;

// Calculer la date avec une semaine de décalage
const oneWeekLater = new Date(localTime);
oneWeekLater.setDate(localTime.getDate() + 7);
// Ajouter 7 jours

// Formater la date de fin (fin avec une semaine de décalage)
const formattedDateTimeFin = oneWeekLater.toISOString().slice(0, 16); // Garder "YYYY-MM-DDTHH:MM"
dateFinInput.value = formattedDateTimeFin;
	</script>


{% endblock %}
