{% extends 'base_template.html.twig' %}

{% block title %}reinitialise - {{ constant('WEBSITE_TITLE') }}{% endblock %}

{% block content %}

<main>
    <div class="container">
{% if reinitialise == true %}
        <div class="row justify-content-center align-items-center h-100 pt-5">
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center" style="width: 100%; max-width: 700px;">
                <!-- Card for the form -->
                <div class="card card_custom shadow-lg w-100" style="height: auto; padding: 1rem;">
                    <div class="card-body ">
                        <h4 class="card-title text-center mb-4" style="font-size: 1.5rem;">Demande de réinitialisation de mot de passe</h4>
                        <form action="index.php?controleur=utilisateur&methode=demandeReinitialisation" method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">E-mail *</label>
                                <input type="email" name="email" {% if utilisateurGlobal != null %} value="{{utilisateurGlobal.getEmail}}" {% endif %} id="exampleInputEmail1" class="form-control form-control-lg" required maxlength="255" minlength="5" title="Entrez l'adresse email du compte qui recevra la demande de réinitialisation" placeholder="Entrez l'e-mail lié au compte">
                            </div>
                            <button type="submit" class="btn btn-primary w-100 py-2">Envoyer la demande</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if message %}
				<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1600">
					<div id="toast" class="toast align-items-center text-white bg-{% if contientErreurs %}danger{% else %}success{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div class="toast-body">
								{% for messages in message %}
									{{ messages }}
									<br>
								{% endfor %}
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
					</div>
				</div>
			{% endif %}
        </div>
    {% else %}
    <div class="row justify-content-center align-items-center h-100 pt-5">
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center" style="width: 100%; max-width: 700px;">
            <!-- Card for the form -->
            <div class="card card_custom shadow-lg w-100" style="height: auto; padding: 1rem;">
                <div class="card-body ">
                    <h4 class="card-title text-center mb-4" style="font-size: 1.5rem;">Réinitialiser mon mot de passe</h4>
                    <form action="index.php?controleur=utilisateur&methode=reinitialiserMotDePasse&email={{ email }}&token={{token}}" method="post">
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Nouveau mot de passe *</label>
                            <input 
                                type="password" 
                                name="pwd" 
                                class="form-control form-control-lg" 
                                id="exampleInputPassword1" 
                                required 
                                minlength="8" 
                                maxlength="25" 
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[a-zA-Z\d\W]{8,25}$" 
                                title="Le mot de passe doit contenir au moins : une lettre minuscule, une majuscule, un chiffre et un caractère spécial, et être compris entre 8 et 25 caractères."
                                placeholder="Entrez votre nouveau mot de passe"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Confirmer le nouveau mot de passe *</label>
                            <input 
                                type="password" 
                                name="pwdConfirme" 
                                class="form-control form-control-lg" 
                                id="exampleInputPassword1" 
                                required 
                                minlength="8" 
                                maxlength="25" 
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[a-zA-Z\d\W]{8,25}$" 
                                title="Le mot de passe doit contenir au moins : une lettre minuscule, une majuscule, un chiffre et un caractère spécial, et être compris entre 8 et 25 caractères."
                                placeholder="Confirmez votre nouveau mot de passe"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">Réinitialiser le mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
        {% if message %}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1600">
                <div id="toast" class="toast align-items-center text-white bg-{% if contientErreurs %}danger{% else %}success{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            {% for messages in message %}
                                {{ messages }}
                                <br>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endif %}
{% endif %}
</div>
</main>
{% endblock %}