{% extends 'base_template.html.twig' %}
{% block title %}Résultat -
	{{ constant('WEBSITE_TITLE') }}
{% endblock %}

{% block content %}

	<main>
		<div class="container">
			<div class="row text-center mt-3 mb-3">
				<a class="text-start" style="margin: 10px;" st href="index.php?controleur=assistant&methode=genererVueRecherche" role="button">
					<img src="image/retour.png" style="width: 35px;" alt="retour">
				</a>
				<h1 class="text-center py-5">Résultats de la recherche</h1>
			</div>

			<div class="row pb-4">
				<nav class="d-flex justify-content-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.php?controleur=assistant&methode=afficherPersonnesObligatoires">Personnes Présentes</a>
						</li>
						<li class="breadcrumb-item">
							<a {% if page == 2 or page == 3 %} href="index.php?controleur=assistant&methode=afficherParametres" {% endif %}>Paramètres</a>
						</li>
						<li class="breadcrumb-item">
							<a {% if page == 3 %} href="index.php?controleur=assistant&methode=obtenir" {% endif %}>Résultats</a>
						</li>
					</ol>
				</nav>
			</div>

			<div id="calendar" data-heure-debut='{{ heureDebut|json_encode|raw }}' data-heure-fin='{{ heureFin|json_encode|raw }}' data-date-debut='{{ dateDebut|json_encode|raw }}' data-creneaux='{{ creneauxCommuns is not empty ? creneauxCommuns|json_encode|raw : "{}" }}' data-evenements='{{ evenements is not empty ? evenements|json_encode|raw : "{}" }}'></div>
			<!-- Modal -->
			<div class="modal fade" id="modalResult" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header bg-primary text-secondary">
							<h5 class="modal-title fs-5" id="modalTitle"></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div
							class="modal-body bg-secondary" id="modalBody"><!-- Les détails filtrés des créneaux s'afficheront ici -->
						</div>
						<div class="modal-footer bg-secondary"></div>
					</div>
				</div>
			</div>

			<form method="post" class="mb-4">
				{% if creneauxCommuns is empty %}
					{% if nombreUtilisateursSeclectionnes > nbrUtilisateursMin %}
						<button type="submit" name="decrement" class="btn btn-secondary">Chercher avec un utilisateur en moins</button>
					{% endif %}
					<br>
					<br>
					<div class="alert alert-warning" role="alert">
						<h4>
							<strong>Aucun créneau disponible n'a été trouvé avec
								{{nombreUtilisateursSeclectionnes}}
								utilisateurs.
							</strong>
						</h4>
						<p>Pour augmenter vos chances de trouver un créneau commun, vous pouvez :</p>
						<ul>
							<li>Cliquer sur le bouton
								<strong>"Chercher avec un utilisateur en moins"</strong>
								pour ajuster les participants.</li>
							<li>Modifier les
								<strong>contacts ou groupes concernés</strong>
								afin d'affiner la recherche.</li>
							<li>Augmenter la
								<strong>période de recherche</strong>
								pour élargir les disponibilités.</li>
							<li>Rétrécir la
								<strong>durée prévue du rendez-vous</strong>
								pour faciliter la planification.</li>
						</ul>
						<p>Adaptez vos paramètres et relancez la recherche pour identifier un créneau libre.</p>
					</div>
				{% endif %}
			</form>
		</main>
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
		<script src="js/resultat.js"></script>
	{% endblock %}
